<app-navigation-bar></app-navigation-bar>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>My Profile</h3>
            <form *ngIf="user">
                <div class="form-group">
                    <label for="forUsername">Username</label>
                    <input type="text" class="form-control" id="forUsername" placeholder="{{user.username}}" readonly>
                </div>
                <div class="form-group">
                    <label for="forName">Name</label>
                    <input type="text" name="name" [(ngModel)]='name' class="form-control" id="forName"
                        placeholder="{{name}}">
                </div>
                <div class="form-group">
                    <label for="forSurname">Surname</label>
                    <input type="text" name="surname" [(ngModel)]='surname' class="form-control" id="forSurname"
                        placeholder="{{surname}}">
                </div>
                <div class="form-group">
                    <label for="forPhone">Phone number</label>
                    <input type="text" name="number" [(ngModel)]='number' class="form-control" id="forPhone"
                        placeholder="{{number}}">
                </div>
                <div class="form-group">
                    <label for="forEmail">Email</label>
                    <input type="text" name="email" [(ngModel)]='email' class="form-control" id="forEmail"
                        placeholder="{{email}}">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleImageUpload">Profile picture</label>
                    <input accept="image/png" type="file" (change)="processFile($event)" class="form-control"
                        id="exampleImageUpload" placeholder="Profile Picture">
                </div>
                <br>
                <input type='button' value='Update' (click)='update()' class="btn btn-primary">
            </form>
            <span>{{message}}</span>
        </div>
        <div class="col-6">
            <h3>My Profile</h3>
            <form *ngIf="user">
                <div class="form-group">
                    <label for="forCP">Current Password</label>
                    <input type="password" name="current_password" [(ngModel)]='current_password' class="form-control"
                        id="forCP" placeholder="Enter current password">
                </div>
                <div class="form-group">
                    <label for="forNP1">New Password</label>
                    <input type="password" name="new_password1" [(ngModel)]='new_password1' class="form-control"
                        id="forNP1" placeholder="Enter new password">
                </div>
                <div class="form-group">
                    <label for="forNP2">New Password</label>
                    <input type="password" name="new_password2" [(ngModel)]='new_password2' class="form-control"
                        id="forNP2" placeholder="Repeat new password">
                </div>
                <br>
                <input type='button' value='Change Password' (click)='update_password()' class="btn btn-primary">
            </form>
            <span>{{message_password}}</span>
        </div>
    </div>
    <br>
    <div class="row"  *ngIf="user.type != 'user'">
        <div class="col-md-8 col-sm-12">
            <h1>My workshops</h1>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Place</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of my_workshops">
                        <td cope="row">
                            <img *ngIf="w.main_icon" src={{w.main_icon}} height="100">
                            <img *ngIf="!w.main_icon" src="/assets/holder.png" height="100">
                        </td>
                        <td>
                            {{w.name}}
                        </td>
                        <td>
                            {{w.date | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{w.place}}
                        </td>
                        <td class="text-wrap">
                            {{w.description}}
                        </td>
                        <td *ngIf="user">
                            <button class="btn btn-primary m-1" (click)="see_chats(w)">See chats</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Workshops I attended</h3>

            <button class="btn btn-primary m-1" (click)="sortByName()">Sort by Name</button>
            <button class="btn btn-primary m-1" (click)="sortByDate()">Sort by Date</button>
            <button class="btn btn-primary m-1" (click)="sortByPlace()">Sort by Place</button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Place</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of atended">
                        <td cope="row">
                            <img *ngIf="w.main_icon" src={{w.main_icon}} height="100">
                            <img *ngIf="!w.main_icon" src="/assets/holder.png" height="100">
                        </td>
                        <td>
                            {{w.name}}
                        </td>
                        <td>
                            {{w.date | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{w.place}}
                        </td>
                        <td>
                            {{w.description}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <h3>Likes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Workshop</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of user.likes">
                        <td cope="row">
                            {{w}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <h3>Comments</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Workshop</th>
                        <th scope="col">Text</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of comments">
                        <td cope="row">
                            {{w.workshop}}
                        </td>
                        <td>
                            {{w.text}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="row py-5">
            <div class="row d-flex">
                <div class="col-2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Chats</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chat of messages" (click)="open_chat(chat)">
                                <div [class.opened-box]="chat.opened">
                                    <div *ngIf="chat.users[0] != user.username">
                                        <td>
                                            <img *ngIf="chat.image" src={{chat.image}} class="rounded-circle"
                                                height="40px">
                                            <img *ngIf="!chat.image" src="/assets/holder.png" class="rounded-circle"
                                                height="40px">

                                        </td>
                                        <td>
                                            {{chat.users[0]}}
                                        </td>
                                    </div>
                                    <div *ngIf="chat.users[0] == user.username">
                                        <td>
                                            <img *ngIf="chat.image" src={{chat.image}} class="rounded-circle"
                                                height="40px">
                                            <img *ngIf="!chat.image" src="/assets/holder.png" class="rounded-circle"
                                                height="40px">
                                        </td>
                                        <td>
                                            {{chat.users[1]}}
                                        </td>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-container *ngFor="let chat of messages">
                    <div class="col-md-3 col-sm-12" *ngIf="chat.opened">
                        <div class="card" id="chat1" style="border-radius: 15px;">
                            <div class="card-header d-flex justify-content-between align-items-center p-3 bg-primary text-white border-bottom-0"
                                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                <i class="fas fa-angle-left"></i>
                                <p class="mb-0 fw-bold">Chat with {{chat.users[0] == user.username ? chat.users[1] :
                                    chat.users[0]}}</p>
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="card-body">
                                <div class="overflow-auto"
                                    style="height: 300px;display: flex;flex-direction: column-reverse;">
                                    <div *ngFor="let message of chat.messages">
                                        <div>
                                            <div *ngIf="message.from != user.username"
                                                class="d-flex flex-row justify-content-start mb-0">
                                                <img *ngIf="chat.image" src={{chat.image}} class="rounded-circle mb-0"
                                                    style="width: 40px; height:40;">
                                                <img *ngIf="!chat.image" src="/assets/holder.png"
                                                    class="rounded-circle mb-0" style="width: 40px; height:40;">
                                                <div class="p-3 ms-2"
                                                    style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                                    <p class="small mb-0">{{message.text}}</p>
                                                </div>
                                            </div>

                                            <div *ngIf="message.from == user.username"
                                                class="d-flex flex-row justify-content-end mb-0">
                                                <div class="p-3 me-2 border"
                                                    style="border-radius: 15px; background-color: #fbfbfb;">
                                                    <p class="small mb-0">{{message.text}}</p>
                                                </div>
                                                <img *ngIf="user.image" src={{user.image}} class="rounded-circle mb-0"
                                                    style="width: 40px; height:40;">
                                                <img *ngIf="!user.image" src="/assets/holder.png"
                                                    class="rounded-circle mb-0" style="width: 40px; height:40;">

                                            </div>
                                            <p *ngIf="message.from != user.username"
                                                class="small me-1 mb-3 mt-0 rounded-3 text-muted d-flex justify-content-start">
                                                {{ print_date(message.timestamp) }}</p>
                                            <p *ngIf="message.from == user.username"
                                                class="small me-1 mb-3 mt-0 rounded-3 text-muted d-flex justify-content-end">
                                                {{ print_date(message.timestamp) }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-end mb-4">
                                    <input type="text" name="current_message" [(ngModel)]='chat.current_message'
                                        class="form-control" placeholder="Type a message">
                                    <input class="btn btn-primary mx-1" type='button' style="width: 50px;" value='>'
                                        (click)='send_message(chat)'>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>