<nav *ngIf="!user" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" (click)="landing()" class="m-1 " style="text-decoration: none;color:white">Not registered</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)='login()'>Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)='register()'>Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav *ngIf="user && user.type == 'user'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand">
      <img *ngIf="user.image" src={{user.image}} class="rounded-circle" height="50px">
      <img *ngIf="!user.image" src="/assets/holder.png" class="rounded-circle" height="50px">
      <a (click)="landing()" class="m-1 " style="text-decoration: none;color:white">{{user.username}}</a>
      
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="profile()">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="workshops()">Workshops</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="become_org()">Become organizator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav *ngIf="user && user.type == 'organizator'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand" href="#">
      <img *ngIf="user.image" src={{user.image}} class="rounded-circle" height="50px">
      <img *ngIf="!user.image" src="/assets/holder.png" class="rounded-circle" height="50px">
      {{user.username}}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav *ngIf="user && user.type == 'admin'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand" href="#">
      <img *ngIf="user.image" src={{user.image}} class="rounded-circle" height="50px">
      <img *ngIf="!user.image" src="/assets/holder.png" class="rounded-circle" height="50px">
      {{user.username}}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>