<app-navigation-bar></app-navigation-bar>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>All Users</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Organization Name</th>
                        <th scope="col">Organization Address</th>
                        <th scope="col">Organization Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td cope="row">
                            <img *ngIf="u.image" src={{u.image}} height="60">
                            <img *ngIf="!u.image" src="/assets/holder.png" height="60">
                        </td>
                        <td>
                            {{u.name}}
                        </td>
                        <td>
                            {{u.surname}}
                        </td>
                        <td>
                            {{u.username}}
                        </td>
                        <td>
                            {{u.phone}}
                        </td>
                        <td>
                            {{u.email}}
                        </td>
                        <td>
                            {{u.type}}
                        </td>
                        <td>
                            <div *ngIf="u.organization">{{u.organization["name"]}}</div>
                        </td>
                        <td>
                            <div *ngIf="u.organization">{{u.organization["address"]}}</div>
                        </td>
                        <td>
                            <div *ngIf="u.organization">{{u.organization["number"]}}</div>
                        </td>
                        <td>
                            {{u.status}}
                        </td>
                        <td>
                            <div *ngIf="u.status == 'pending'">
                                <button class="btn btn-primary m-1" (click)="accept(u)">Accept</button>
                                <button class="btn btn-primary m-1" (click)="decline(u)">Decline</button>
                            </div>
                            <div *ngIf="u.status != 'pending'">
                                <button class="btn btn-primary m-1" (click)="details(u)">Details</button>
                            </div>
                            <div>
                                <button class="btn btn-primary m-1" (click)="delete(u)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>All Workshops</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Place</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Long Description</th>
                        <th scope="col">Max Participants</th>
                        <th scope="col">Organizer</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of workshops">
                        <td>
                            <img *ngIf="w.main_icon" src={{w.main_icon}} height="60">
                            <img *ngIf="!w.main_icon" src="/assets/holder.png" height="60">
                        </td>
                        <td>
                            {{w.name}}
                        </td>
                        <td>
                            {{w.place}}
                        </td>
                        <td>
                            {{w.description}}
                        </td>
                        <td>
                            {{w.date | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{w.long_description}}
                        </td>
                        <td>
                            {{w.max_number}}
                        </td>
                        <td>
                            {{w.organizer}}
                        </td>
                        <td>
                            {{w.status}}
                        </td>
                        <td>
                            <div *ngIf="w.status == 'pending'">
                                <button class="btn btn-primary m-1" (click)="acceptw(w)">Accept</button>
                                <button class="btn btn-primary m-1" (click)="declinew(w)">Decline</button>
                            </div>
                            <div *ngIf="w.status != 'pending'">
                                <button class="btn btn-primary m-1" (click)="detailsw(w)">Details</button>
                            </div>
                            <div>
                                <button class="btn btn-primary m-1" (click)="deletesw(w)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>